<div class="p-12 flex justify-between flex-col container">
  <app-list-errors [errors]="errors"></app-list-errors>

  <form [formGroup]="testForm" (ngSubmit)="submitForm()">
    <fieldset class="flex flex-col" [disabled]="isSubmitting">
      <fieldset class="form-group mb-3">
        <input
          id="title"
          class="form-control form-control-lg w-full outline-none"
          formControlName="title"
          type="text"
          placeholder="Tiêu đề"
        />
      </fieldset>

      <div formArrayName="questions">
        <div
          class="question p-2"
          *ngFor="let question of questionsFormArr.controls; let qIndex = index"
          [formGroupName]="qIndex"
        >
          <fieldset class="form-group mb-3">
            <textarea
              id="question-{{ qIndex }}"
              class="form-control form-control-lg w-full outline-none"
              formControlName="question"
              placeholder="Câu hỏi"
            ></textarea>
          </fieldset>
          <button
            type="button"
            class="deleteQuestionBtn"
            (click)="deleteQuestion(qIndex)"
          >
            Xóa câu hỏi
          </button>

          <div formArrayName="answers">
            <div
              class="flex"
              *ngFor="
                let answer of getAnswerFormArr(question).controls;
                let aIndex = index
              "
              [formGroupName]="aIndex"
            >
              <fieldset class="form-group mr-3">
                <input
                  class="form-control answer outline-none"
                  formControlName="answer"
                  type="text"
                  placeholder="Câu trả lời"
                  (keydown)="addAnswer(question, $event)"
                />
              </fieldset>
              <fieldset class="form-group mr-3">
                <input
                  class="form-control w-full outline-none border-none"
                  formControlName="truth"
                  type="checkbox"
                />
              </fieldset>

              <button
                type="button"
                class="deleteAnswerBtn"
                (click)="deleteAnswer(question, aIndex)"
              >
                Xóa
              </button>
            </div>
          </div>

          <button
            type="button"
            class="addAnswerBtn"
            (click)="addAnswer(question)"
          >
            Thêm câu trả lời
          </button>
        </div>
      </div>

      <button type="button" class="addQuestionBtn" (click)="addQuestion()">
        Thêm câu hỏi
      </button>

      <button id="submitBtn" class="btn btn-lg btn-primary" type="submit">
        Tạo đề thi
      </button>
    </fieldset>
  </form>
</div>
