

.answers-list {
  list-style-type: upper-latin;
}

#submitBtn {
  display: block;
  float: right;
}

textarea {
  border: 1px solid;
}
fieldset.form-group {
  padding: 5px;
  border-radius: 10px;
  background: white;
}