<p>{{ this.title }}</p>
<button (click)="deleteTest()">Xóa bài test</button>
<form>
  <ol>
    <li *ngFor="let practice of this.practiceForm; let qIndex = index">
      {{ practice.question }}

      <ol class="answers-list" *ngIf="practice.questionType == 1">
        <li *ngFor="let answer of choiceQuestionArrForm(qIndex).answers">
          <input
            type="radio"
            id="{{ answer.id }}"
            value="{{ answer.id }}"
            [formControl]="choiceQuestionArrForm(qIndex).answerId"
          />
          <label for="{{ answer.id }}">{{ answer.answer }}</label>
        </li>
      </ol>
      <div class="answers-list" *ngIf="practice.questionType == 2">
        <div>
          <input
            type="text"
            [formControl]="essayQuestionArrForm(qIndex).answer"
          />
        </div>
      </div>
    </li>
  </ol>

  <button type="submit" (click)="createPractice()">Nộp bài test</button>
</form>
