<p>{{ this.title }}</p>
<button (click)="deleteTest()">Xóa bài test</button>
<form (ngSubmit)="createPractice()" [formGroup]="this.questionForm">
  <ol>
    <li *ngFor="let question of this.questions; let qIndex = index">
      {{ question.question }}

      <ol class="answers-list" *ngIf="question.questionType == 1">
        <li *ngFor="let answer of asChoiceQuestion(qIndex).answers">
          <input
            type="radio"
            id="{{ answer.id }}"
            value="{{ answer.id }}"
            formControlName="{{ question.id }}"
          />
          <label for="{{ answer.id }}">{{ answer.answer }}</label>
        </li>
      </ol>
      <div class="answers-list" *ngIf="question.questionType == 2">
        <div>
          <textarea type="text" formControlName="{{ question.id }}"></textarea>
        </div>
      </div>
    </li>
  </ol>

  <button type="submit">Nộp bài test</button>
</form>
