<p>{{ this.test.title }}</p>
<button (click)="deleteTest()">Xóa bài test</button>
<form (ngSubmit)="createPractice()" [formGroup]="practiceForm">
  <ol>
    <li *ngFor="let question of this.test.questions; let qIndex = index">
      {{ question.question }}

      <ol
        class="answers-list"
        *ngIf="question.questionType == 1"
        formArrayName="choiceQuestions"
      >
        <li
          *ngFor="
            let answer of asChoiceQuestion(question).answers;
            let aIndex = index
          "
        >
          <input
            type="radio"
            id="{{ aIndex + ' ' + qIndex }}"
            value="{{ answer.id }}"
            formControlName="{{ qIndex }}"
          />
          <label for="{{ aIndex + ' ' + qIndex }}">{{ answer.answer }}</label>
        </li>
      </ol>
      <div
        class="answers-list"
        *ngIf="question.questionType == 2"
        formArrayName="essayQuestions"
      >
        <div formGroupName="{{ qIndex }}">
          <input type="text" id="{{ qIndex }}" formControlName="answer" />
        </div>
      </div>
    </li>
  </ol>

  <button type="submit">Nộp bài test</button>
</form>
