@tailwind components;
@tailwind utilities;


.form-control {
    border: 1px solid;
    border-radius: 10px;
    padding: 8px;
    width: 100%;
}
  
fieldset {
border: none;
margin-bottom: 20px;
}

.btn-register {
  background-color: #04AA6D;
  padding: 7px;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 2px 0 #04AA6D, inset 0 -3px 8px -3px #04AA6D;
  border: none;
  cursor: pointer;
  float: right;
}

.register-panel {
  margin-top: 20px;
  width: 450px;
  text-align: center;
  border-radius: 7px;
}

.auth-page {
  height: 80vh;
}