<div class="auth-page flex justify-between">
    <!-- <app-side-bar class="col-sm-0 col-s-0"></app-side-bar> -->

    <div class="flex flex-col justify-center register-panel">
      <h1 class="text-xs-center">{{ title }}</h1>
      <p class="text-xs-center">
        <a [routerLink]="['/login']">Bạn đã có tài khoản?</a>
      </p>
      <app-list-errors [errors]="errors"></app-list-errors>
      <div *ngIf="this.isRegisterSuccess">Đăng ký thành công, mời bạn kiểm tra hộp thư để xác nhận.</div>
      <form [formGroup]="authForm" (ngSubmit)="submitForm()">
        <fieldset [disabled]="isSubmitting">
          <fieldset class="form-group">
            <input
              formControlName="username"
              placeholder="Tên đăng nhập"
              class="form-control form-control-lg"
              type="text"
            />
          </fieldset>
          <fieldset class="form-group">
            <input
              formControlName="email"
              placeholder="Email"
              class="form-control form-control-lg"
              type="text"
            />
          </fieldset>
          <fieldset class="form-group">
            <input
              formControlName="password"
              placeholder="Mật khẩu"
              class="form-control form-control-lg"
              type="password"
            />
          </fieldset>
          <button
            class="btn btn-register"
            [disabled]="!authForm.valid"
            type="submit"
          >
            {{ title }}
          </button>
        </fieldset>
      </form>
    </div>

    <div class="invisible col-sm-0 col-s-0"> Item invisibledsdasdsadsa</div>
</div>
