@tailwind components;
@tailwind utilities;

.form-control {
    border: 1px solid;
    border-radius: 10px;
    padding: 8px;
    /* width: 70%; */
}
  
fieldset {
    border: none;
    margin-bottom: 20px;
}

.btn-login {
  background-color: #04AA6D;
  padding: 7px;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 2px 0 #04AA6D, inset 0 -3px 8px -3px #04AA6D;
  margin-left: 100px;
  border: none;
  cursor: pointer;
}

.login-panel {
  margin-top: 20px;
  width: 450px;
  text-align: center;
  border: 1px solid;
  border-radius: 7px;
}

.auth-page {
  height: 80vh;
}