<div class="article-page flex justify-between" *ngIf="article">
  <app-side-bar class="col-sm-0 col-s-0"></app-side-bar>

  <div class="article-container flex flex-col">
    <div class="banner">
      <div class="container">
        <h1 class="title">{{ article.title }}</h1>
  
        <app-article-meta [article]="article">
          <span *ngIf="canModify">
            <a
              class="btn btn-sm btn-outline-secondary"
              [routerLink]="['/editor', article.slug]"
            >
              <i class="ion-edit"></i> Sửa
            </a>
            <span>&nbsp;&nbsp;</span>
            <button
              class="btn btn-sm btn-outline-danger"
              [ngClass]="{ disabled: isDeleting }"
              (click)="deleteArticle()"
            >
              <i class="ion-trash-a"></i> Xóa
            </button>
          </span>
  
          <div class="follow-favorites-panel" *ngIf="!canModify">
            <app-follow-button
              [profile]="article.author"
              (toggle)="toggleFollowing($event)"
            >
            </app-follow-button>
            &nbsp;&nbsp;
            <app-favorite-button
              [article]="article"
              (toggle)="onToggleFavorite($event)"
            > 
              {{ article.favorited ? " " : " " }}
              <span class="counter">({{ article.favoritesCount }})</span>
            </app-favorite-button>
          </div>
        </app-article-meta>
      </div>
    </div>
  
    <div class="page">
      <div class="row article-content">
        <div class="col-md-12">
          <!-- <div [innerHTML]="article.body | markdown | async"></div> -->
          <div [outerHTML]="article.body"></div>
          <ul class="tag-list">
            <li
              *ngFor="let tag of article.tagList"
              class="tag-default tag-pill tag-outline"
            >
              {{ tag }}
            </li>
          </ul>
        </div>
      </div>
  
      <hr />
  
      <div class="article-actions">
        <app-article-meta [article]="article">
          <span *ngIf="canModify">
            <a
              class="btn btn-sm btn-outline-secondary bg-black text-white"
              [routerLink]="['/editor', article.slug]"
            >
              <i class="ion-edit"></i> Sửa
            </a>
            <span>&nbsp;&nbsp;</span>
            <button
              class="btn btn-sm btn-outline-danger"
              [ngClass]="{ disabled: isDeleting }"
              (click)="deleteArticle()"
            >
              <i class="ion-trash-a"></i> Xóa
            </button>
          </span>
        </app-article-meta>
      </div>
  
      <div class="row max-w-lg m-auto">
          <div *appShowAuthed="true">
            <app-list-errors></app-list-errors>
            <form class="card comment-form" (ngSubmit)="addComment()">
              <fieldset [disabled]="isSubmitting" class="border-none">
                <div class="card-block">
                  <textarea
                    class="form-control max-w-md w-11/12 outline-none"
                    placeholder="Hãy bình luận..."
                    rows="3"
                    [formControl]="commentControl"
                  ></textarea>
                </div>
                <div class="card-footer">
                  <img
                    [src]="currentUser?.image === null ? '' : currentUser?.image"
                    class="comment-author-img"
                  />
                  <button class="btn btn-sm btn-primary comment-btn" type="submit">
                    Bình luận
                  </button>
                </div>
              </fieldset>
            </form>
          </div>
  
          <div *appShowAuthed="false">
            <a [routerLink]="['/login']">Đăng nhập</a> hay
            <a [routerLink]="['/register']">Đăng ký</a> để bình luận vào các bài
            đăng.
          </div>
          <br>
          <app-article-comment
            *ngFor="let comment of comments; trackBy: trackById"
            [comment]="comment"
            (delete)="deleteComment(comment)"
          >
          </app-article-comment>
      </div>
    </div>
  </div>
</div>
