@tailwind base;
@tailwind components;
@tailwind utilities;


.test {
    margin: 10px;
    background-color: white;
    padding: 15px;
    border-radius: 15px;  
}

.test:hover {
    border-width: 2px;
    border-style: solid;  
}

.container {

}