@tailwind components;
@tailwind utilities;

.question {
  border-radius: 10px;
}

fieldset.form-group {
  padding: 5px;
  border-radius: 10px;
  background: white;
}
input,
textarea {
  border: none;
}
.addAnswerBtn {
  padding: 3px;
  color: #0084ff;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}
.deleteAnswerBtn {
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.deleteQuestionBtn {
  align-self: baseline;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
}
#submitBtn {
  border: 1px solid;
  border-radius: 2px;
  background-color: #eee;
  padding: 3px;
}


