@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  /* background: var(--yt-spec-base-background, #282828); */
}

div.flex {
  border-radius: 28px;
  /* background: var(--yt-spec-base-background, #282828); */
  display: flex;
  padding: 4px;
  align-items: center;
  gap: 4px;
  flex: 1 0 0;
  align-self: stretch;
  border: solid 1px;
}
