<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <span>Cloud fade</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <!-- <div #topbarmenu class="layout-topbar-menu" [class]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">    
        <button class="p-link layout-topbar-button">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </button>
    </div> -->
    <button #topbarmenu class="p-link layout-topbar-button layout-topbar-menu" (click)="menu.toggle($event)">
        <i class="pi pi-user"></i>
    </button>

    <p-menu #menu [model]="items" styleClass="w-full md:w-15rem" [popup]="true" >

        <ng-template pTemplate="submenuheader" let-item>
            <span class="text-primary font-bold">{{ item.label }}</span>
        </ng-template>
        <ng-template pTemplate="item" let-item>
            <a pRipple class="flex align-items-center p-menuitem-link">
                <span [class]="item.icon"></span>
                <span class="ml-2">{{ item.label }}</span>
                <span *ngIf="item.shortcut" class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1">
                    {{ item.shortcut }}
                </span>
            </a>
        </ng-template>
    </p-menu>
    

</div>