<nav class="navbar navbar-light">
  <div id="nav-start" class="flex h-8">
    <!-- <button #toggleButton class="w3-button" (click)="toggleSidebar()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        style="pointer-events: none; display: block; width: 100%; height: 100%"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M21 16L21 18L3 18L3 16L21 16ZM21 11L3 11L3 13L21 13L21 11ZM21 6L3 6L3 8L21 8L21 6Z"
          fill="#CAC4D0"
        />
      </svg>
    </button> -->
    <a class="navbar-brand logo-small" routerLink="/" (click)="this.refreshPage()">
      O
    </a>
    <a class="navbar-brand logo-large" routerLink="/" (click)="this.refreshPage()">
      Overcloud
    </a>
  </div>

  <app-search-bar
    id="nav-center"
    class="flex flex-auto justify-center"
  ></app-search-bar>

  <div id="nav-end" class="flex">
    <!-- Show this for logged out users -->
    <ul *appShowAuthed="false" class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">
          Đăng nhập
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/register" routerLinkActive="active">
          Đăng ký
        </a>
      </li>
    </ul>

    <!-- Show this for logged in users -->
    <ul *appShowAuthed="true" class="nav navbar-nav pull-xs-right">
      <li class="nav-item dropdown-menu">
        <a class="nav-link dropbtn cursor-pointer" routerLinkActive="active">
          <span class="material-symbols-outlined"> edit_square </span>
        </a>
        <div class="dropdown-content">
          <a routerLink="/editor">Viết blog</a>
          <a routerLink="/createTest">Tạo đề thi</a>
        </div>
      </li>

      <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/settings" routerLinkActive="active">
            <i class="ion-gear-a"></i>&nbsp;Cài đặt
          </a>
        </li> -->

      <li class="nav-item" *ngIf="currentUser$ | async as currentUser">
        <a
          class="nav-link"
          [routerLink]="['/@'.concat(currentUser.username)]"
          routerLinkActive="active"
        >

          {{ currentUser.username }}
        </a>
      </li>
    </ul>
  </div>
</nav>
