/* input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  color: white;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 0 15px;
  padding: 5px;
  border-radius: 7px;
}

.logo {
  background-image: url(logo.svg), none;
}
.nav-item {
  color: black;
}
.nav-item:hover {
  background-color: #f2f2f2 !important;
  color: #0079eb;
  border-color: #0079eb;
}

.nav-item:focus {
  background-color: #0079eb !important;
}

.navbar-brand {
  float: left;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 1.25rem;
}

.navbar-brand:focus,
.navbar-brand:hover {
  text-decoration: none;
}

.navbar-brand > img {
  display: block;
}
/* .dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
} */

.dropdown-menu {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown-menu:hover .dropdown-content {
  display: block;
}

app-search-bar {
  margin-left: 1rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .logo-small {
    display: block;
  }
  .logo-large {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px)  {
  .logo-small {
    display: block;
  }
  .logo-large {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px)  and (max-width: 992px) {
  .logo-small {
    display: block;
  }
  .logo-large {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px)   and (max-width: 1200px){
  .logo-small {
    display: none;
  }
  .logo-large {
    display: block;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .logo-small {
    display: none;
  }
  .logo-large {
    display: block;
  }
}

.logo-small, .logo-large {
  color: black;
  font-size: larger;
}