<div class="home-page flex justify-between">
  <app-side-bar></app-side-bar>

  <div>
    <div class="col-md-3" *rxLet="tags$; let tags">
      <div class="sidebar">
        <p style="font-style: bold; padding-bottom: 10px">Danh sách thẻ:</p>
        <div class="tag-list">
          <a (click)="setListTo()" class="tag-default tag-pill"> Tất cả </a>
          <a
            *ngFor="let tag of tags"
            (click)="setListTo({ tag: tag })"
            class="tag-default tag-pill"
          >
            {{ tag }}
          </a>
        </div>
  
        <div [hidden]="tagsLoaded">Loading tags...</div>
  
        <div [hidden]="!tagsLoaded || tags.length > 0">
          No tags are here... yet.
        </div>
      </div>
    </div>
    <app-article-list [limit]="10" [config]="listConfig"></app-article-list>
  </div>

  <div class="invisible">I'm invisible</div>
</div>
