<div class="home-page flex justify-between">
  <app-side-bar class="col-sm-0 col-s-0"></app-side-bar>

  <div class="container flex flex-col justify-center w-full">
      <div class="m-auto" *rxLet="tags$; let tags">
        <br>
        <div class="tag-list">
          <a (click)="setListTo()" class="tag-default tag-pill"> Tất cả </a>
          <a
            *ngFor="let tag of tags"
            (click)="setListTo({ tag: tag })"
            class="tag-default tag-pill"
          >
            {{ tag }}
          </a>
        </div>
  
        <div [hidden]="tagsLoaded">Loading tags...</div>
  
        <div [hidden]="!tagsLoaded || tags.length > 0">
          No tags are here... yet.
        </div>
      </div>
     <br> 
    <app-article-list class="m-auto" [limit]="10" [config]="listConfig"></app-article-list>
  </div>

  <div class="invisible col-sm-0 col-s-0">I'm invisibleeeeeeeeeeeee</div>
</div>
