<!-- Sidebar -->
<div
  #menu
  class="sidebar"
  [style.display]="'inline-block'"
  [style.visibility]="isOpen ? 'visible' : 'hidden'"
  id="mySidebar"
>
  <a [routerLink]="['/']" class="no-underline text-sm sidebar-items">Bài viết</a>
  <a
    routerLinkActive="active"
    [routerLink]="['/tests']"
    class="no-underline text-sm sidebar-items"
    >Thi online</a>
    <a
    routerLinkActive="active"
    [routerLink]="['/tests']"
    class="no-underline text-sm sidebar-items"
    >Chuỗi nội dung</a>
    <a
    routerLinkActive="active"
    [routerLink]="['/tests']"
    class="no-underline text-sm sidebar-items"
    >Chat</a>
    <br>
    <hr>
    @if (this.followers != null && this.followers != []) {
      <div>Người theo dõi</div>
      @for (follower of followers; track $index) {
        <div class="article-meta mt-3">
          <a [routerLink]="['/@'.concat(follower.username)]">
            <img class="inline-block" [src]="follower.image" /> {{ follower.username }}
          </a>
        </div>
      }
    }
</div>
