<!-- Sidebar -->
<div
  #menu
  class="sidebar"
  [style.display]="'inline-block'"
  [style.visibility]="isOpen ? 'visible' : 'hidden'"
  id="mySidebar"
>
  <a [routerLink]="['/']" class="no-underline text-sm sidebar-items">Bài viết</a>
  <a
    routerLinkActive="active"
    [routerLink]="['/tests']"
    class="no-underline text-sm sidebar-items"
    >Thi online</a>
    <a
    routerLinkActive="active"
    [routerLink]="['/tests']"
    class="no-underline text-sm sidebar-items"
    >Chuỗi nội dung</a>
    <a
    routerLinkActive="active"
    [routerLink]="['/tests']"
    class="no-underline text-sm sidebar-items"
    >Chat</a>
    <br>
    <hr>
    <div>Người theo dõi</div>
    <!-- @for (customer of customers; track customer) {

    } -->
</div>
