<div class="editor-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-xs-12">
        <app-list-errors [errors]="errors"></app-list-errors>

        <form [formGroup]="articleForm">
          <fieldset [disabled]="isSubmitting">
            <fieldset class="form-group">
              <input
                class="form-control form-control-lg"
                formControlName="title"
                type="text"
                placeholder="Tiêu đề"
              />
            </fieldset>

            <fieldset class="form-group">
              <input
                class="form-control"
                formControlName="description"
                type="text"
                placeholder="Tóm tắt"
              />
            </fieldset>

            <fieldset class="form-group">
              <!-- <textarea
                class="form-control"
                formControlName="body"
                rows="8"
                placeholder="Nội dung"
                id="editor"
              >
              </textarea> -->
              <div #editorjs></div>
            </fieldset>
            <app-react-owc-renderer></app-react-owc-renderer>

            <fieldset class="form-group">
              <!-- <input
                class="form-control"
                type="text"
                placeholder="Danh sách thẻ"
                [formControl]="tagField"
                (keyup.enter)="addTag()"
              /> -->
              <mat-form-field class="example-chip-list">
                <mat-label>Thẻ</mat-label>
                <mat-chip-grid #chipGrid aria-label="Thêm thẻ">
                  <mat-chip-row
                    *ngFor="let tag of inTags"
                    (removed)="remove(tag)"
                  >
                    {{ tag }}
                    <button matChipRemove [attr.aria-label]="'remove ' + tag">
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip-row>
                </mat-chip-grid>
                <input
                  placeholder="Thêm thẻ..."
                  #tagInput
                  [formControl]="tagField"
                  [matChipInputFor]="chipGrid"
                  [matAutocomplete]="auto"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  (matChipInputTokenEnd)="add($event)"
                />
                <mat-autocomplete
                  #auto="matAutocomplete"
                  (optionSelected)="selected($event)"
                >
                  <mat-option
                    *ngFor="let tag of filteredTags | async"
                    [value]="tag"
                  >
                    {{ tag }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </fieldset>

            <button
              id="submitBtn"
              class="btn btn-lg btn-primary"
              type="button"
              (click)="submitForm()"
            >
              Đăng bài
            </button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
